.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

h1 {
  text-align: center;
}

div {
  border: 1px dotted black;
  width: 50;
  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: left;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
}

img {
  width: 50%;
}
